<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        ">

	<!-- 对mvc注解支持 -->
	<mvc:annotation-driven/>

	<!-- 只扫描@controller注解 -->
	<!-- base—package必须添加上controller否则include-filter会失效导致仍然扫描了@Service从而使事务失效
		 或者添加use-default-filters="false"-->
    <context:component-scan base-package="com.ywc.controller">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller" />
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.RestController" />
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

	<mvc:resources location="/" mapping="/**"/>

	<!-- 定义视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

    <!--跨域访问支持-->
	<mvc:cors>
		<mvc:mapping
				path="/**"
				allowed-origins="*"
				allowed-methods="POST,GET,OPTIONS,DELETE,PUT"
				allowed-headers="Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"
				allow-credentials="true"/>
	</mvc:cors>
</beans>