<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywc.dao.UserAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.ywc.model.UserAuthority">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="AUTHORITY_ID" jdbcType="INTEGER" property="authorityId" />
    <result column="USER_AUTHORITY_STATUS" jdbcType="INTEGER" property="userAuthorityStatus" />
  </resultMap>
</mapper>